<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no"/>
		<title>Hello World</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
	</head>
	<body>
		<div class="hide--soft" id="vue_app_mount">
			<%= message %>
		</div>
	</body>
</html>
