<!DOCTYPE html>
<html class="h-full w-full">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no"/>
		<title>Hello World</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
	</head>
	<body class="h-full w-full">
		<div class="flex h-full w-full items-center justify-center">
			<div class="max-w-sm rounded overflow-hidden shadow-lg">
				<img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
				<div class="px-6">
				<div class="font-bold text-xl mt-4 mb-2">Drash</div>
					<div class="mb-4">
						<p class="text-grey-darker text-base"><%= body %></p>
					</div>
					<hr class="border-b border-gray">
				</div>
				<div class="px-6 py-4">
					<span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#deno</span>
					<span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#drash</span>
					<span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#resources</span>
				</div>
			</div>
		</div>
	</body>
</html>
