# Files

.DS_Store
.env
*.log
package-lock.json
yarn.lock

# Directories

.idea/
.vim/
.vscode/
benchmarks/
dist/
lib/
node_modules/
tmp*/
tmp/

# Directories (the build directories published to npm)

lib/

# Exceptions

!.gitkeep
