# files
*conf.json
.DS_Store
.env
bundle.js
compiled_*.js
compiled_*.json
doc_blocks_output_actual.json
package-lock.json

# directories
.idea
.sass-cache
.vim
.vscode/
node_modules
tmp*/*
tmp/*

# exceptions
!.gitkeep
